.uptown{
    margin-top: 4px;
    display: flex;
     width: 100%;
     gap: 10px;
}

.pro-img{
    border-radius: 50px;
}
.designs-img img:hover {
    scale: 1.02;   
}

.main3-div{
    background-color: rgb(248, 245, 245);
    border-radius: 10px;
   
}

/* ========================== */

.particulardesign-box {
    margin-left: 2vw;
    margin-right: 2vw;
    width: 350px;
    height: 400px;
    box-shadow: 1px 0px 3px ;
    display: inline-block;
    vertical-align: middle;
   
}
.particulardesign-box:hover{
    box-shadow: 5px 5px 15px ; 

} 
.fav-icon{
    display: flex;
    justify-content: space-between;
}
.fa-heart{
  color: #ffffff;
   margin-top: 15px;
}
.fa-heart:hover{
   color: rgb(208, 10, 69);
}
.particulardesign-img {
    height: 400px;
    width: 98%;
    cursor: pointer;
    transition: all 0.5s;
   
}
.img-div{
    height: 400px;
    width: 98%;
    background-color: #D89619; 
}
.particulardesign-img:hover {
     scale: 1.02;   
}

.particulardesign-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000001a;
    padding: 30px;
    transition: all 0.4s;
    opacity: 0;
}
.designs-img .overlay {
    position: absolute;
     height: 44%;
     width: 21%;
    background-color: #0000001a;
    padding: 30px;
    transition: all 0.4s;
    opacity: 0;
}
.fav{
    display: flex;
}
.fa-heart{
  color: #ffffff;
   margin-top: 15px;
}
.fa-heart:hover{
   color: rgb(208, 10, 69);
}

.designs-img img {
    transition: all 0.4s ease;   
}

.designs-img:hover .overlay{
    opacity: 1;
    background-color: rgba(30, 28, 28, 0.3);
}
.viewmore2{
    background-color: rgba(249, 206, 180, 0.7);
    height: 40px;
    width: 120px;
    color: white;
    border: none;
    border-radius: 50px;
    opacity: 1;
    margin-top: 200px;
    margin-left: 100px !important;
}
.viewmore2:hover{
    background-color: rgba(30, 28, 28, 0.3);
    border: 2px solid  rgba(255, 187, 127, 0.3);
    color:#edbe66;

}
/* ============= particular*/
.viewprofile{
    margin-left: 80px !important;
    margin-top: -30px;
    color: green;
    font-size: 18px;
    font-weight: 400;
}

.viewprofilebtn button{
 border: 2px solid rgb(239, 196, 150);
   border-radius: 10px;
   height: 40px;
   width: 140px;
   margin-left: 10px;   
}
.viewprofilebtn button:hover{
    background-color: #e2bf7f;
}